trunk/Software/ReadingStation/Web References/WebReference/TSSReadingStationService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:tns1="urn:BeanService" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:impl="http://172.21.185.177:8080/axis/services/TSSReadingStationService" xmlns:intf="http://172.21.185.177:8080/axis/services/TSSReadingStationService" targetNamespace="http://172.21.185.177:8080/axis/services/TSSReadingStationService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:BeanService">
      <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <xsd:complexType name="ReadingStationDTO">
        <xsd:sequence>
          <xsd:element name="alarmLevel" type="xsd:int" />
          <xsd:element name="stationName" nillable="true" type="soapenc:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="MeasurementDTO">
        <xsd:sequence>
          <xsd:element name="probeId" type="xsd:int" />
          <xsd:element name="readingStationName" nillable="true" type="soapenc:string" />
          <xsd:element name="timestamp" nillable="true" type="xsd:dateTime" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="TemperatureDTO">
        <xsd:complexContent mixed="false">
          <xsd:extension base="tns1:MeasurementDTO">
            <xsd:sequence>
              <xsd:element name="data" type="xsd:int" />
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="PressureDTO">
        <xsd:complexContent mixed="false">
          <xsd:extension base="tns1:MeasurementDTO">
            <xsd:sequence>
              <xsd:element name="data" type="xsd:int" />
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="deliverReadingRequest">
    <wsdl:part name="in0" type="tns1:MeasurementDTO" />
  </wsdl:message>
  <wsdl:message name="presentResponse">
    <wsdl:part name="presentReturn" type="xsd:boolean" />
  </wsdl:message>
  <wsdl:message name="presentRequest">
    <wsdl:part name="in0" type="tns1:ReadingStationDTO" />
  </wsdl:message>
  <wsdl:message name="deliverReadingResponse" />
  <wsdl:message name="getStatusResponse">
    <wsdl:part name="getStatusReturn" type="tns1:ReadingStationDTO" />
  </wsdl:message>
  <wsdl:message name="getStatusRequest">
    <wsdl:part name="in0" type="soapenc:string" />
  </wsdl:message>
  <wsdl:portType name="ReadingStationFacade">
    <wsdl:operation name="getStatus" parameterOrder="in0">
      <wsdl:input name="getStatusRequest" message="intf:getStatusRequest" />
      <wsdl:output name="getStatusResponse" message="intf:getStatusResponse" />
    </wsdl:operation>
    <wsdl:operation name="deliverReading" parameterOrder="in0">
      <wsdl:input name="deliverReadingRequest" message="intf:deliverReadingRequest" />
      <wsdl:output name="deliverReadingResponse" message="intf:deliverReadingResponse" />
    </wsdl:operation>
    <wsdl:operation name="present" parameterOrder="in0">
      <wsdl:input name="presentRequest" message="intf:presentRequest" />
      <wsdl:output name="presentResponse" message="intf:presentResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TSSReadingStationServiceSoapBinding" type="intf:ReadingStationFacade">
    <wsdlsoap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <wsdl:operation name="getStatus">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="getStatusRequest">
        <wsdlsoap:body use="encoded" namespace="http://server.group1.onk.iha.dk" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="getStatusResponse">
        <wsdlsoap:body use="encoded" namespace="http://172.21.185.177:8080/axis/services/TSSReadingStationService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deliverReading">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="deliverReadingRequest">
        <wsdlsoap:body use="encoded" namespace="http://server.group1.onk.iha.dk" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="deliverReadingResponse">
        <wsdlsoap:body use="encoded" namespace="http://172.21.185.177:8080/axis/services/TSSReadingStationService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="present">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="presentRequest">
        <wsdlsoap:body use="encoded" namespace="http://server.group1.onk.iha.dk" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="presentResponse">
        <wsdlsoap:body use="encoded" namespace="http://172.21.185.177:8080/axis/services/TSSReadingStationService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ReadingStationFacadeService">
    <wsdl:port name="TSSReadingStationService" binding="intf:TSSReadingStationServiceSoapBinding">
      <wsdlsoap:address location="http://172.21.185.177:8080/axis/services/TSSReadingStationService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>