Software/DB/src/META-INF/wsdl/TSSAdminService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://172.21.185.177:8080/axis/services/TSSAdminService" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://172.21.185.177:8080/axis/services/TSSAdminService" xmlns:intf="http://172.21.185.177:8080/axis/services/TSSAdminService" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns1="urn:BeanService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.2RC2
Built on Nov 16, 2004 (12:19:44 EST)-->
 <wsdl:types>
  <schema targetNamespace="urn:BeanService" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://172.21.185.177:8080/axis/services/TSSAdminService"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="UserDTO">
    <sequence>
     <element name="accountTypeId" type="xsd:int"/>
     <element name="password" nillable="true" type="soapenc:string"/>
     <element name="username" nillable="true" type="soapenc:string"/>
    </sequence>
   </complexType>
   <complexType name="ProbeDTO">
    <sequence>
     <element name="data" type="xsd:double"/>
     <element name="id" type="xsd:int"/>
     <element name="lowerAlarm" type="xsd:double"/>
     <element name="units" nillable="true" type="soapenc:string"/>
     <element name="upperAlarm" type="xsd:double"/>
    </sequence>
   </complexType>
   <complexType name="ReadingStationDTO">
    <sequence>
     <element name="enabled" type="xsd:boolean"/>
     <element name="name" nillable="true" type="soapenc:string"/>
     <element name="probes" nillable="true" type="impl:ArrayOf_tns1_ProbeDTO"/>
    </sequence>
   </complexType>
  </schema>
  <schema targetNamespace="http://172.21.185.177:8080/axis/services/TSSAdminService" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="urn:BeanService"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="ArrayOf_tns1_UserDTO">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="tns1:UserDTO[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="ArrayOf_tns1_ProbeDTO">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="tns1:ProbeDTO[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="ArrayOf_tns1_ReadingStationDTO">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="tns1:ReadingStationDTO[]"/>
     </restriction>
    </complexContent>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="getReadingStationsResponse">

      <wsdl:part name="getReadingStationsReturn" type="impl:ArrayOf_tns1_ReadingStationDTO"/>

   </wsdl:message>

   <wsdl:message name="enableRSResponse">

      <wsdl:part name="enableRSReturn" type="xsd:boolean"/>

   </wsdl:message>

   <wsdl:message name="updateUserInfoRequest">

      <wsdl:part name="in0" type="tns1:UserDTO"/>

      <wsdl:part name="in1" type="tns1:UserDTO"/>

   </wsdl:message>

   <wsdl:message name="updateUserInfoResponse">

      <wsdl:part name="updateUserInfoReturn" type="xsd:boolean"/>

   </wsdl:message>

   <wsdl:message name="enableRSRequest">

      <wsdl:part name="in0" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="addUserResponse1">

      <wsdl:part name="addUserReturn" type="xsd:boolean"/>

   </wsdl:message>

   <wsdl:message name="setRSAlarmLevelResponse">

      <wsdl:part name="setRSAlarmLevelReturn" type="xsd:boolean"/>

   </wsdl:message>

   <wsdl:message name="loginRequest">

      <wsdl:part name="in0" type="tns1:UserDTO"/>

   </wsdl:message>

   <wsdl:message name="addUserRequest1">

      <wsdl:part name="in0" type="soapenc:string"/>

      <wsdl:part name="in1" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="getUsersResponse">

      <wsdl:part name="getUsersReturn" type="impl:ArrayOf_tns1_UserDTO"/>

   </wsdl:message>

   <wsdl:message name="removeUserRequest">

      <wsdl:part name="in0" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="removeUserResponse">

      <wsdl:part name="removeUserReturn" type="xsd:boolean"/>

   </wsdl:message>

   <wsdl:message name="disableRSRequest">

      <wsdl:part name="in0" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="loginResponse">

      <wsdl:part name="loginReturn" type="xsd:boolean"/>

   </wsdl:message>

   <wsdl:message name="setRSNameResponse">

      <wsdl:part name="setRSNameReturn" type="xsd:boolean"/>

   </wsdl:message>

   <wsdl:message name="setRSNameRequest">

      <wsdl:part name="in0" type="soapenc:string"/>

      <wsdl:part name="in1" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="getReadingStationsRequest">

   </wsdl:message>

   <wsdl:message name="getUsersRequest">

   </wsdl:message>

   <wsdl:message name="addUserRequest">

      <wsdl:part name="in0" type="tns1:UserDTO"/>

   </wsdl:message>

   <wsdl:message name="setRSAlarmLevelRequest">

      <wsdl:part name="in0" type="soapenc:string"/>

      <wsdl:part name="in1" type="xsd:double"/>

      <wsdl:part name="in2" type="xsd:double"/>

   </wsdl:message>

   <wsdl:message name="addUserResponse">

      <wsdl:part name="addUserReturn" type="xsd:boolean"/>

   </wsdl:message>

   <wsdl:message name="disableRSResponse">

      <wsdl:part name="disableRSReturn" type="xsd:boolean"/>

   </wsdl:message>

   <wsdl:portType name="AdminFacade">

      <wsdl:operation name="getUsers">

         <wsdl:input message="impl:getUsersRequest" name="getUsersRequest"/>

         <wsdl:output message="impl:getUsersResponse" name="getUsersResponse"/>

      </wsdl:operation>

      <wsdl:operation name="removeUser" parameterOrder="in0">

         <wsdl:input message="impl:removeUserRequest" name="removeUserRequest"/>

         <wsdl:output message="impl:removeUserResponse" name="removeUserResponse"/>

      </wsdl:operation>

      <wsdl:operation name="login" parameterOrder="in0">

         <wsdl:input message="impl:loginRequest" name="loginRequest"/>

         <wsdl:output message="impl:loginResponse" name="loginResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getReadingStations">

         <wsdl:input message="impl:getReadingStationsRequest" name="getReadingStationsRequest"/>

         <wsdl:output message="impl:getReadingStationsResponse" name="getReadingStationsResponse"/>

      </wsdl:operation>

      <wsdl:operation name="addUser" parameterOrder="in0">

         <wsdl:input message="impl:addUserRequest" name="addUserRequest"/>

         <wsdl:output message="impl:addUserResponse" name="addUserResponse"/>

      </wsdl:operation>

      <wsdl:operation name="addUser" parameterOrder="in0 in1">

         <wsdl:input message="impl:addUserRequest1" name="addUserRequest1"/>

         <wsdl:output message="impl:addUserResponse1" name="addUserResponse1"/>

      </wsdl:operation>

      <wsdl:operation name="updateUserInfo" parameterOrder="in0 in1">

         <wsdl:input message="impl:updateUserInfoRequest" name="updateUserInfoRequest"/>

         <wsdl:output message="impl:updateUserInfoResponse" name="updateUserInfoResponse"/>

      </wsdl:operation>

      <wsdl:operation name="setRSName" parameterOrder="in0 in1">

         <wsdl:input message="impl:setRSNameRequest" name="setRSNameRequest"/>

         <wsdl:output message="impl:setRSNameResponse" name="setRSNameResponse"/>

      </wsdl:operation>

      <wsdl:operation name="setRSAlarmLevel" parameterOrder="in0 in1 in2">

         <wsdl:input message="impl:setRSAlarmLevelRequest" name="setRSAlarmLevelRequest"/>

         <wsdl:output message="impl:setRSAlarmLevelResponse" name="setRSAlarmLevelResponse"/>

      </wsdl:operation>

      <wsdl:operation name="enableRS" parameterOrder="in0">

         <wsdl:input message="impl:enableRSRequest" name="enableRSRequest"/>

         <wsdl:output message="impl:enableRSResponse" name="enableRSResponse"/>

      </wsdl:operation>

      <wsdl:operation name="disableRS" parameterOrder="in0">

         <wsdl:input message="impl:disableRSRequest" name="disableRSRequest"/>

         <wsdl:output message="impl:disableRSResponse" name="disableRSResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="TSSAdminServiceSoapBinding" type="impl:AdminFacade">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getUsers">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getUsersRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://server.group1.onk.iha.dk" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getUsersResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://172.21.185.177:8080/axis/services/TSSAdminService" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="removeUser">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="removeUserRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://server.group1.onk.iha.dk" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="removeUserResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://172.21.185.177:8080/axis/services/TSSAdminService" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="login">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="loginRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://server.group1.onk.iha.dk" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="loginResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://172.21.185.177:8080/axis/services/TSSAdminService" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getReadingStations">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getReadingStationsRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://server.group1.onk.iha.dk" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getReadingStationsResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://172.21.185.177:8080/axis/services/TSSAdminService" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addUser">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addUserRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://server.group1.onk.iha.dk" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="addUserResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://172.21.185.177:8080/axis/services/TSSAdminService" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addUser">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addUserRequest1">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://server.group1.onk.iha.dk" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="addUserResponse1">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://172.21.185.177:8080/axis/services/TSSAdminService" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="updateUserInfo">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="updateUserInfoRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://server.group1.onk.iha.dk" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="updateUserInfoResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://172.21.185.177:8080/axis/services/TSSAdminService" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="setRSName">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="setRSNameRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://server.group1.onk.iha.dk" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="setRSNameResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://172.21.185.177:8080/axis/services/TSSAdminService" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="setRSAlarmLevel">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="setRSAlarmLevelRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://server.group1.onk.iha.dk" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="setRSAlarmLevelResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://172.21.185.177:8080/axis/services/TSSAdminService" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="enableRS">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="enableRSRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://server.group1.onk.iha.dk" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="enableRSResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://172.21.185.177:8080/axis/services/TSSAdminService" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="disableRS">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="disableRSRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://server.group1.onk.iha.dk" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="disableRSResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://172.21.185.177:8080/axis/services/TSSAdminService" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="AdminFacadeService">

      <wsdl:port binding="impl:TSSAdminServiceSoapBinding" name="TSSAdminService">

         <wsdlsoap:address location="http://172.21.185.177:8080/axis/services/TSSAdminService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
