Software/ReadingStation/Web References/TSSServer/TSSReadingStationService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:tns1="urn:BeanService" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:impl="http://172.21.185.177:8080/axis/services/TSSReadingStationService" xmlns:intf="http://172.21.185.177:8080/axis/services/TSSReadingStationService" targetNamespace="http://172.21.185.177:8080/axis/services/TSSReadingStationService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:BeanService">
      <xsd:import namespace="http://172.21.185.177:8080/axis/services/TSSReadingStationService" />
      <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <xsd:complexType name="ProbeDTO">
        <xsd:sequence>
          <xsd:element name="data" type="xsd:double" />
          <xsd:element name="id" type="xsd:int" />
          <xsd:element name="lowerAlarm" type="xsd:double" />
          <xsd:element name="units" nillable="true" type="soapenc:string" />
          <xsd:element name="upperAlarm" type="xsd:double" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ReadingStationDTO">
        <xsd:sequence>
          <xsd:element name="enabled" type="xsd:boolean" />
          <xsd:element name="id" type="xsd:int" />
          <xsd:element name="name" nillable="true" type="soapenc:string" />
          <xsd:element name="probes" nillable="true" type="intf:ArrayOf_tns1_ProbeDTO" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://172.21.185.177:8080/axis/services/TSSReadingStationService">
      <xsd:import namespace="urn:BeanService" />
      <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <xsd:complexType name="ArrayOf_tns1_ProbeDTO">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="soapenc:Array">
            <xsd:attribute wsdl:arrayType="tns1:ProbeDTO[]" ref="soapenc:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="deliverReadingRequest">
    <wsdl:part name="in0" type="tns1:ReadingStationDTO" />
  </wsdl:message>
  <wsdl:message name="loginRequest">
    <wsdl:part name="in0" type="tns1:ReadingStationDTO" />
  </wsdl:message>
  <wsdl:message name="deliverAlarmResponse" />
  <wsdl:message name="deliverReadingResponse" />
  <wsdl:message name="getStatusResponse">
    <wsdl:part name="getStatusReturn" type="tns1:ReadingStationDTO" />
  </wsdl:message>
  <wsdl:message name="getStatusRequest">
    <wsdl:part name="in0" type="tns1:ReadingStationDTO" />
  </wsdl:message>
  <wsdl:message name="deliverAlarmRequest">
    <wsdl:part name="in0" type="tns1:ReadingStationDTO" />
  </wsdl:message>
  <wsdl:message name="loginResponse">
    <wsdl:part name="loginReturn" type="xsd:boolean" />
  </wsdl:message>
  <wsdl:portType name="ReadingStationFacade">
    <wsdl:operation name="getStatus" parameterOrder="in0">
      <wsdl:input name="getStatusRequest" message="intf:getStatusRequest" />
      <wsdl:output name="getStatusResponse" message="intf:getStatusResponse" />
    </wsdl:operation>
    <wsdl:operation name="login" parameterOrder="in0">
      <wsdl:input name="loginRequest" message="intf:loginRequest" />
      <wsdl:output name="loginResponse" message="intf:loginResponse" />
    </wsdl:operation>
    <wsdl:operation name="deliverReading" parameterOrder="in0">
      <wsdl:input name="deliverReadingRequest" message="intf:deliverReadingRequest" />
      <wsdl:output name="deliverReadingResponse" message="intf:deliverReadingResponse" />
    </wsdl:operation>
    <wsdl:operation name="deliverAlarm" parameterOrder="in0">
      <wsdl:input name="deliverAlarmRequest" message="intf:deliverAlarmRequest" />
      <wsdl:output name="deliverAlarmResponse" message="intf:deliverAlarmResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TSSReadingStationServiceSoapBinding" type="intf:ReadingStationFacade">
    <wsdlsoap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <wsdl:operation name="getStatus">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="getStatusRequest">
        <wsdlsoap:body use="encoded" namespace="http://server.group1.onk.iha.dk" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="getStatusResponse">
        <wsdlsoap:body use="encoded" namespace="http://172.21.185.177:8080/axis/services/TSSReadingStationService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="login">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="loginRequest">
        <wsdlsoap:body use="encoded" namespace="http://server.group1.onk.iha.dk" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="loginResponse">
        <wsdlsoap:body use="encoded" namespace="http://172.21.185.177:8080/axis/services/TSSReadingStationService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deliverReading">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="deliverReadingRequest">
        <wsdlsoap:body use="encoded" namespace="http://server.group1.onk.iha.dk" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="deliverReadingResponse">
        <wsdlsoap:body use="encoded" namespace="http://172.21.185.177:8080/axis/services/TSSReadingStationService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deliverAlarm">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="deliverAlarmRequest">
        <wsdlsoap:body use="encoded" namespace="http://server.group1.onk.iha.dk" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="deliverAlarmResponse">
        <wsdlsoap:body use="encoded" namespace="http://172.21.185.177:8080/axis/services/TSSReadingStationService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ReadingStationFacadeService">
    <wsdl:port name="TSSReadingStationService" binding="intf:TSSReadingStationServiceSoapBinding">
      <wsdlsoap:address location="http://172.21.185.177:8080/axis/services/TSSReadingStationService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>