trunk/Software/DB/src/META-INF/wsdl/TSSReadingStationService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://172.21.185.177:8080/axis/services/TSSReadingStationService" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://172.21.185.177:8080/axis/services/TSSReadingStationService" xmlns:intf="http://172.21.185.177:8080/axis/services/TSSReadingStationService" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns1="urn:BeanService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.2RC2
Built on Nov 16, 2004 (12:19:44 EST)-->
 <wsdl:types>
  <schema targetNamespace="urn:BeanService" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://172.21.185.177:8080/axis/services/TSSReadingStationService"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="ProbeDTO">
    <sequence>
     <element name="data" type="xsd:double"/>
     <element name="id" type="xsd:int"/>
     <element name="lowerAlarm" type="xsd:double"/>
     <element name="units" nillable="true" type="soapenc:string"/>
     <element name="upperAlarm" type="xsd:double"/>
    </sequence>
   </complexType>
   <complexType name="ReadingStationDTO">
    <sequence>
     <element name="enabled" type="xsd:boolean"/>
     <element name="name" nillable="true" type="soapenc:string"/>
     <element name="probes" nillable="true" type="impl:ArrayOf_tns1_ProbeDTO"/>
    </sequence>
   </complexType>
  </schema>
  <schema targetNamespace="http://172.21.185.177:8080/axis/services/TSSReadingStationService" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="urn:BeanService"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="ArrayOf_tns1_ProbeDTO">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="tns1:ProbeDTO[]"/>
     </restriction>
    </complexContent>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="deliverReadingRequest">

      <wsdl:part name="in0" type="tns1:ReadingStationDTO"/>

   </wsdl:message>

   <wsdl:message name="loginRequest">

      <wsdl:part name="in0" type="tns1:ReadingStationDTO"/>

   </wsdl:message>

   <wsdl:message name="deliverAlarmResponse">

   </wsdl:message>

   <wsdl:message name="deliverReadingResponse">

   </wsdl:message>

   <wsdl:message name="getStatusResponse">

      <wsdl:part name="getStatusReturn" type="tns1:ReadingStationDTO"/>

   </wsdl:message>

   <wsdl:message name="getStatusRequest">

      <wsdl:part name="in0" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="deliverAlarmRequest">

      <wsdl:part name="in0" type="tns1:ReadingStationDTO"/>

   </wsdl:message>

   <wsdl:message name="loginResponse">

      <wsdl:part name="loginReturn" type="xsd:boolean"/>

   </wsdl:message>

   <wsdl:portType name="ReadingStationFacade">

      <wsdl:operation name="getStatus" parameterOrder="in0">

         <wsdl:input message="impl:getStatusRequest" name="getStatusRequest"/>

         <wsdl:output message="impl:getStatusResponse" name="getStatusResponse"/>

      </wsdl:operation>

      <wsdl:operation name="login" parameterOrder="in0">

         <wsdl:input message="impl:loginRequest" name="loginRequest"/>

         <wsdl:output message="impl:loginResponse" name="loginResponse"/>

      </wsdl:operation>

      <wsdl:operation name="deliverReading" parameterOrder="in0">

         <wsdl:input message="impl:deliverReadingRequest" name="deliverReadingRequest"/>

         <wsdl:output message="impl:deliverReadingResponse" name="deliverReadingResponse"/>

      </wsdl:operation>

      <wsdl:operation name="deliverAlarm" parameterOrder="in0">

         <wsdl:input message="impl:deliverAlarmRequest" name="deliverAlarmRequest"/>

         <wsdl:output message="impl:deliverAlarmResponse" name="deliverAlarmResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="TSSReadingStationServiceSoapBinding" type="impl:ReadingStationFacade">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getStatus">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getStatusRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://server.group1.onk.iha.dk" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getStatusResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://172.21.185.177:8080/axis/services/TSSReadingStationService" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="login">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="loginRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://server.group1.onk.iha.dk" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="loginResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://172.21.185.177:8080/axis/services/TSSReadingStationService" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="deliverReading">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="deliverReadingRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://server.group1.onk.iha.dk" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="deliverReadingResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://172.21.185.177:8080/axis/services/TSSReadingStationService" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="deliverAlarm">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="deliverAlarmRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://server.group1.onk.iha.dk" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="deliverAlarmResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://172.21.185.177:8080/axis/services/TSSReadingStationService" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="ReadingStationFacadeService">

      <wsdl:port binding="impl:TSSReadingStationServiceSoapBinding" name="TSSReadingStationService">

         <wsdlsoap:address location="http://172.21.185.177:8080/axis/services/TSSReadingStationService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
